/* .dices-wrapper{
    text-align: center;
} */
/* .controls-wrapper{
    text-align: center;
} */
/*.dice-controllers{
    /* position: absolute;*/
    /*top: 550px;
    right:717px; 
    text-align: center;
    
}*/
/* .new-game{
    text-align: center;
}
.score-input{
    text-align:center;
}
.player-0-info{
    position: relative;
    top:315px;
    left:375px;
    
}
.player-1-info{
    position: relative;
    top:249px;
    left:1125px;
} */